body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  width: 170px; /* Adjust as needed */
  margin-right: 10px; /* Add spacing between the logo and title */
}

.title {
  font-size: 20px; /* Adjust as needed */
  font-weight: bold;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.go-left {
 text-align: left
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  margin-top: 8px; /* Adjust the spacing between the title and subtitle */
}

.login-form-button {
  width: 100%;
}